<form action="/output" method="POST">
    <div class="form-group">
        <label for="en">Location</label>
        <input type="text" class="form-control" name="en" id="en" placeholder="search">
    </div>
    <div class="form-group">
        <label for="start">Start Date</label><br>
        <input type="date" class="form-control" name="start" id="start">
    </div>
    <div class="form-group">
        <label for="end">End Date</label><br>
        <input type="date" class="form-control" name="end" id="end">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>