<html lang="en">
    <%- include('partials/head') %>
    <body>
        <h1><%= title %></h1>
        <div class="container">
            <%- include('partials/form', { options: options }) %>
        </div>
        <div class="container">
            <% if (typeof chMin != "undefined") { %>
                <%- include('partials/chart') %>
            <% } %>
        </div>
    </body>
</html>